header {
  background-color: #53389e;
}

header > .container {
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.logo-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
}

.logo-nav-wrapper ul {
  display: flex;
  gap: 2rem;
}

.logo-nav-wrapper ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.header-actions {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.header-actions .btn-primary,
.header-actions .btn-secondary {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 0.75rem 1rem;
}

.btn-primary {
  background-color: #7f56d9;
  border-radius: 8px;
}

.logo-nav-wrapper nav,
.header-actions .btn-secondary,
.header-actions .btn-primary {
  display: none;
}

.pricing-header {
  height: 21.25rem;
  padding: 0 1rem;
  background-color: #53389e;
}

.pricing .pricing-header .container {
  padding: 0 0;
}

.pricing .pricing-header .container .subtitle {
  padding-top: 4rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #e9d7fe;
  font-weight: 600;
}

.pricing .pricing-header .container .title {
  margin-top: 0.75rem;
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #fff;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.pricing .pricing-header .container .description {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #e9d7fe;
  font-weight: 400;
}

.pricing-cards {
  display: flex;
}

.pricing-cards > .container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: -4.1875rem;
  flex: 1 0 fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e4e7ec;
  border-radius: 1rem;
  padding: 1.5rem;
  align-items: center;
  flex: 1 0 fit-content;
}

.card-header {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.badge-container {
  display: flex;
  justify-content: center;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  padding: 3px;
  align-items: center;
}

.badge {
  display: flex;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  align-items: center;
  gap: 6px;
  padding: 5px;
  color: #475467;
}

.badge-info {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #475467;
}
.badge-additional-info {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #475467;
  padding: 0 0.75rem;
}

.dot-decoration-wrapper {
  border: 3px solid #f4ebff;
  border-radius: 50%;
}

.dot-decoration {
  width: 6px;
  height: 6px;
  background: #9e77ed;
  border-radius: 50%;
}

.price {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  margin-top: 1.5rem;
}

.card .card-header .description {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
  color: #475467;
}

.card-features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #e4e7ec;
  border-bottom: 1px solid #e4e7ec;
}

.card-features ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.card-features ul li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #475467;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.pricing-cards .btn {
  text-align: center;
  padding: 1rem 7rem 1rem 7rem;
  background-color: #7f56d9;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
}

@media (min-width: 768px) {
  header > .container {
    height: 5rem;
    padding: 0 2rem;
  }

  .logo-nav-wrapper nav,
  .header-actions .btn-secondary,
  .header-actions .btn-primary {
    display: flex;
  }
  .btn-hamburger {
    display: none;
  }

  .pricing-header {
    height: 25.375rem;
    padding: 0 2rem;
  }

  .pricing .pricing-header .container .subtitle {
    padding-top: 6rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .pricing .pricing-header .container .title {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .pricing .pricing-header .container .description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .pricing-cards > .container {
    padding: 0 2rem;
    margin-top: -5rem;
  }

  .card {
    border-radius: 1rem;
    padding: 2rem;
  }

  .price {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}
